
// Import variables from central location
@import '../../sass/global_theme.scss';

.ui.card.legend_main {
  background: $color-background-bright;
  border: 1px solid $color-form-border;
  bottom: 10%;
  left: 85%;
  max-height: 15vh;
  min-height: 16rem;
  position: absolute;
  width: 15rem;
  z-index: 400;
  padding: 0.5rem;
  @media (max-width: 900px) {
    left: 75%;
  }

  @media (max-width: 600px) {
    left: 65%;
    bottom: 2%;
  }

  .legend-button {
    margin: 1rem 0.1rem;
    font-size: 1.2rem;
  }

  .form {
    .field {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin: 0;
    }
  }
  
  .legend_div {
    display: flex;
    align-items: baseline;
    align-content: center;
    padding-bottom: 0.5rem;
    .legend_box {
      border: 1px solid $color-form-border;
      border-radius: 3px;
      width: 1rem;
      height: 1rem;
      margin-right: 5%;
    }
  }
}
