.Profile_profileHeader {
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 500;
    padding: 2% 5%;
    position: absolute;
    background: white;
    width: 80%;
    height: 4rem;
    top: 2.5%;
    left: 10%;
    right: 10%;
      .profile_userDropDown {
        width: 40%;
        border: 1px solid black!important;
        border-radius: 40px!important;
        text-align: center;
        font-size: 2rem;
        min-width: none!important;
        min-height: 0rem!important;
        padding: .5rem!important;
          i {
            padding: .2rem 1.2rem 0rem 0rem;
          }
      }
    
}
