.mapIndex_map-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1000;
    position: absolute;
    background: white;
    width: 80%;
    height: 4rem;
    top: 2.5%;
    left: 10%;
    right: 10%;

    .mapIndex_friend-checkbox {
        display: flex;
    }

    .ui.dropdown {
        z-index: 99999;
        width: 20%;
        background: transparent;
    }
}