
// Import variables from central location
@import '../../sass/global_theme.scss';

//== SASS styles for use with the Scratcher Component ==========================

.scratcher {
  height: 200px;
  width: 200px;
  canvas {
    width: 200px;//100%;
    height: 200px;//100%;
    cursor: none;
  }
}
