
// Import variables from central location
@import '../../sass/global_theme.scss';

.fact_centering {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  align-content: center;
}
#fact_container {
  margin: auto;
  .header {
    font-size: 6rem;
    font-style: italic;
    font-weight: bold;
    color: $color-background-bright;
  }
  .description {
    font-size: 3rem;
    max-width: 50rem;
    color: $color-background-bright;
  }
  .meta {
    font-size: 2rem;
    color: $color-background-bright;
  }
}
