//Main page
#__next {
	height: 100%;

	.profile_pageContainer {
			height: 100%;
			background: lightblue;

		.profile_breadCrumbs {
			min-height: 3%;
			margin-bottom: 0;
				.profile_breadCrumbsLink {
					text-decoration: underline;
					color: black;
				}
		}

		.profile_mainContainer {
			border: 1px solid red;
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			height: 97%;
			
			.profile_userCardContainer {
				width: 30rem;

				//Usercard component
				.profile_userCardMain {
					width: 100%;
					border: 1px solid red;
					margin: 20px auto;

						.profile_userCardForm {
							padding-top: 5%;
						}
						.profile_userCardInput {
							background: blue;
						}
						.profile_userCardProfilePic {
							width: 80%;
							align-self: center;
						}
				}
			}
			
			.profile_friendsContainer {
				width: 10rem;

				//FriendsList component
				.profile_friendsListMain {
					border: 1px solid red;
					width: 100%;
					margin: 30px auto;
				}

			}
			
		}

	}
}


