

//== Sensible Standards ========================================================

//-- Sizes and Reference Points ------------------
* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 160%;
    font-family: 'Open Sans', sans-serif;
}
