.ui.card.legend_main {
    z-index: 500;
    position: absolute;
    bottom: 3%;
    left: 93%;
    width: 6%;
    background: grey;
        //individual cards
        .legend_div {
            display: flex;
            align-items: baseline;
            padding-top: 3%;
            align-content: center;
                .legend_blueBox {
                    border: 1px solid blue;
                    width: 1rem;
                    height: 1rem;
                    margin-right: 5%; 
                    background: blue;
                }
                .legend_greenBox {
                    border: 1px solid green;
                    width: 1rem;
                    height: 1rem;
                    margin-right: 5%; 
                    background: green;
                }
                .legend_yellowBox {
                    border: 1px solid yellow;
                    width: 1rem;
                    height: 1rem;
                    margin-right: 5%; 
                    background: yellow;
                }
                .legend_pinkBox {
                    border: 1px solid pink;
                    width: 1rem;
                    height: 1rem;
                    margin-right: 5%; 
                    background: pink;
                }
    }
}

