
// Import variables from central location
@import '../../sass/global_theme.scss';

.mapHeader_mapHeader {
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 500;
  padding: 2rem;
  position: fixed;
  background: $color-background-bright;
  width: 80%;
  top: 2.5%;
  left: 10%;
  right: 10%;

  @media (max-width: 500px) {
    height: 18rem;
    flex-direction: column-reverse;
    top: 1%;
    left: 15%;
    right: 15%;
    padding: 1rem 2%;
    width: 70%;
  }

  .mapHeader_checkboxDesktop {
    width: 20%;
    min-width: 10rem;
    @media (max-width: 900px) {
      display: none;
    }
    .ui.checkbox {
      font-size: 1.4rem;
    }
  }
  .ui.dropdown {
    width: 10rem;
    font-size: 1.4rem;
    text-align: center;
    @media (max-width: 500px) {
      width: 90%;
      padding: 1rem;
      border: 1px solid $color-border-strong;
      border-radius: 5px;
      top: 5%;
    }
  }
  .ui.button.floating.labeled.search.dropdown.icon{
    width: 20%;
    background: transparent;

    @media (max-width: 800px) {
      width: 40%;
    }

    @media (max-width: 500px) {
      width: 90%;
      border: none;
      align-self: flex-start;
      margin: 1% auto;
      padding: 1rem;
    }
  }
}
