
// Import variables from central location
@import '../../sass/global_theme.scss';

//Main page

.profile_pageContainer {
  height: 100vh;
  width: 100vw;
  background: $color-primary;
  display: flex;
  flex-direction: column;

  .Profile_profileHeader {
    background: $color-background-bright;
  }

  .profile_content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 15% auto 0;
    width: 90%;


    @media (max-width: 800px) {
      flex-wrap: wrap;
    }

    @media (max-width: 700px) {
      margin: 30% auto 0;
    }

    @media (max-width: 650px) {
      margin: 35% auto 0;
    }

    @media (max-width: 550px) {
      margin: 40% auto 0;
      width: 100%;
    }

    @media (max-width: 500px) {
      margin: 45% auto 0;
    }

    @media (max-width: 420px) {
      margin: 50% auto 0;
    }

    @media (max-width: 400px) {
      margin-top: 60%;
    }

    .profile_userCardMain {
      border: 1px solid $color-primary;
      background: $color-background-bright;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30%;
      line-height: 1.7;

      @media (max-width: 1100px) {
        width: 45%;
      }

      @media (max-width: 800px) {
        width: 90%;
      }

      i.icon.edit.outline {
        align-self: flex-end;
        cursor: pointer;
        color: $color-primary;
        font-size: 2.6rem;
        padding-right: 5%;
      }

      .profile_userCardProfilePic {
        width: 20rem;
        height: 20rem;
        align-self: center;
        margin: 2rem;
        border-radius: 50%!important;
      }
        .content {
          width: 90%;
          text-align: center;

          button {
            background: $color-primary;
            color: $color-background-bright;
            font-size: 1.4rem;
            margin: 5% auto;
            padding: 5%;
          }


          .profile_userCardForm {
            padding-top: 5%;
            font-size: 1.5rem;

              .ui.slider.checkbox {
                font-size: 1.5rem;
              }

              .profile_userCardInput {
                background: $color-primary;
              }

              button {
                color: $color-primary;
              }

              .submit {
                background: $color-primary;
                color: $color-background-bright;
                font-size: 1.6rem;
                padding: 5%;
              }
          } //end form


            .profile_editButtons {
              button {
                margin: 5% auto;
                padding: 5%;
                font-size: 1.6rem;
              }

              .upload {
                background: $color-primary;
                color: $color-background-bright;
              }

              .delete {
                background: $color-danger;
                color: $color-background-bright;
                font-size: 1.4rem;
              }
            }
        } //end content

    }//end profile_userCardMain
    .profile_friendsContainer {
      width: 30%;

      @media (max-width: 1100px) {
        width: 45%;
      }

      @media (max-width: 800px) {
        width: 90%;
      }

      //FriendsList component
      .profile_friendsListMain {
        border: 1px solid $color-border-strong;
        broder-radius: 5px;
        width: 100%;
        background: $color-background-bright;
        padding: 20px 10%;
        line-height: 1.7;
        font-size: 2.6rem;
        text-align: center;

        .profile_friendsListContent {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 2.4rem;

          a {
            color: inherit;
            font-size: 2.2rem;
          }

          img {
            min-width: 50px;
          }
          .profile_friendsListIcon {
            cursor: pointer;
            font-size: 2.6rem;
            color: $color-danger;
          }
        }

      }
    }
  }
			//Usercard component


		}//end container
