
// Import variables from central location
@import '../../sass/global_theme.scss';

//Main page

.profile_pageContainer {
  height: 100vh;
  width: 100vw;
  background: $color-primary;

  .profile_content {
    width: 60%;
    margin: 15rem auto 0;
    background: $color-background-bright;
    min-height: 70rem;
    @media (max-width: 760px) {
      margin: 25rem auto 5rem;
    }

    .profile_menu {
      width: 100%;
      font-size: 2rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .item {
        width: 16rem;
        display: flex;
        justify-content: center;
        margin: auto 7%!important;
        @media (max-width: 980px) {
          margin: auto 2%!important;
        }
        @media (max-width: 760px) {
          margin: auto!important;
        }
      }
      @media (max-width: 760px) {
        flex-direction: column;
      }
    }

    .profile_userCardMain {
      background: $color-background-bright;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 70%;
      margin: 1rem auto;
      min-width: 180px;
      min-height: 60rem;
      line-height: 1.7;
      box-shadow: none;

      @media (max-width: 760px) {
        width: 90%;
      }

      i.icon.edit.outline {
        align-self: flex-end;
        cursor: pointer;
        color: $color-primary;
        font-size: 2.6rem;
        padding: 1rem 20% 1rem 1rem;
      }

      .card-meta {
        color: black;
        font-size: 1.8rem;
      }

      .user-preferences {
        font-style: oblique;
        color: grey;
        font-size: 1.6rem;
        margin: 1rem auto;
        width: 70%;
      }
      
      #card-header {
        font-size: 2.6rem;
      }

      .profile_userCardProfilePic {
        width: 20rem;
        height: 20rem;
        align-self: center;
        margin: 2rem;
        border-radius: 50%!important;
      }
        .content {
          width: 60%;
          text-align: center;
          margin-top: 1rem;
          padding-top: 3rem;
          @media (max-width: 760px) {
            width: 70%;
          }
          button {
            border: 1px solid $color-primary;
            background: $color-background-bright;
            color: $color-primary;
            font-size: 1.6rem;
            margin: 5% auto;
            padding: 2rem 5%;
            width: 80%;
            &:hover {
              background: $color-primary;
              color: $color-background-bright;
            }
          }

          .profile_userCardForm {
            padding-top: 1rem;
            font-size: 1.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;

              .ui.slider.checkbox {
                font-size: 1.5rem;
                width: 20rem;
              }

              .profile_userCardInput {
                background: $color-primary;
                border-radius: 5px;
                border: 1px solid $color-primary;
              }

              button {
                color: $color-primary;
              }

              .submit {
                background: $color-primary;
                color: $color-background-bright;
                font-size: 1.6rem;
                padding: 1rem 5%;
                width: 20rem;
                &:hover {
                  border: 1px solid $color-primary;
                  background: $color-background-bright;
                  color: $color-primary;
                }
              }
          } //end form


            .profile_editButtons {
              button {
                width: 40%;
                margin: 1rem auto;
                padding: 1rem 5%;
                font-size: 1.6rem;
              }

              .upload {
                background: $color-primary;
                color: $color-background-bright;
                width: 20rem;
                &:hover {
                  border: 1px solid $color-primary;
                  background: $color-background-bright;
                  color: $color-primary;
                }
              }

              .delete {
                border: 1px solid $color-danger;
                background: $color-danger;
                color: $color-background-bright;
                font-size: 1.4rem;
                margin: 2px auto;
              }
            }
        } //end content

    }//end profile_userCardMain

    .visits-chart {
      width: 90%;
      height: 40rem;
      margin: 1rem auto;
      .recharts-responsive-container {
        margin: auto!important;
      }
    }
    @media (max-width: 760px) {
      width: 90%;
    }
    .profile_friendsContainer {
      width: 80%;
      margin: 1rem auto;
      
      @media (max-width: 760px) {
        width: 90%;
      }
      //FriendsList component
      .profile_friendsListMain {
        min-width: 12rem;
        background: $color-background-bright;
        padding: 2rem 10%;
        line-height: 2.8;
        font-size: 2.2rem;
        text-align: center;
        .header {
          padding: 0.8rem 1rem 1rem;
          margin-bottom: 0.8rem;
          border-bottom: 1px solid $color-form-border; 
        }

        .profile_friendsListContent {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 1.8rem;
          margin: 1rem auto;
          a {
            color: inherit;
            font-size: 1.8rem;
            padding: 1rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          img {
            min-width: 50px;
          }
          .profile_friendsListIcon {
            cursor: pointer;
            font-size: 2rem;
            color: $color-danger;
            margin: 0 2px;
          }
        }

      }
    }
  }
			//Usercard component
}//end container
