//Main page

body {
  background: #243352
}

.profile_pageContainer {
  height: 100vh;
  width: 100vw;
  background: #243352;
  display: flex;
  flex-direction: column;

  .Profile_profileHeader {
    background: #EBEDE8;
  }

  .profile_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 15rem auto 0;
    width: 90%;
    
    @media (max-width: 800px) {
      flex-direction: column;
    }

    @media (max-width: 800px) {
      margin: 25rem auto 1rem;
    }

    .profile_userCardMain {
      border: 1px solid #243352;
      background: #EBEDE8;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30%;
      margin: 0 1rem 1rem;
      min-width: 180px;
      min-height: 60rem;
      line-height: 1.7;
      
      @media (max-width: 1100px) {
        width: 45%;
      }

      @media (max-width: 800px) {
        width: 90%;
        margin: 2rem;
      }

      i.icon.edit.outline {
        align-self: flex-end;
        cursor: pointer;
        color: #243352;
        font-size: 2.6rem;
        margin: 1rem 5% 2rem 0;
      }

      .card-meta {
        color: black;
        font-size: 1.8rem;
      }

      .user-preferences {
        font-style: oblique;
        color: grey;
        font-size: 1.6rem;
        margin: 1rem auto;
        width: 70%;
      }
      
      #card-header {
        font-size: 2.6rem;
      }

      .profile_userCardProfilePic {
        width: 20rem;
        height: 20rem;
        align-self: center;
        margin: 2rem;
        border-radius: 50%!important;
      }
        .content {
          width: 90%;
          text-align: center;

          button {
            border: 1px solid #243352;
            background: #EBEDE8;
            color: #243352;
            font-size: 1.6rem;
            margin: 5% auto;
            padding: 2rem 5%;
            width: 80%;
            &:hover {
              background: #243352;
              color: #EBEDE8;
            }
          }

          .profile_userCardForm {
            padding-top: 1rem;
            font-size: 1.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;

              .ui.slider.checkbox {
                font-size: 1.5rem;
                width: 20rem;
              }

              .profile_userCardInput {
                background: #243352;
                border-radius: 5px;
                border: 1px solid #243352;
              }

              button {
                color: #243352;
              }

              .submit {
                background: #243352;
                color: #EBEDE8;
                font-size: 1.6rem;
                padding: 1rem 5%;
                width: 20rem;
                &:hover {
                  border: 1px solid #243352;
                  background: #EBEDE8;
                  color: #243352;
                }
              }
          } //end form


            .profile_editButtons {
              button {
                margin: 1rem auto;
                padding: 1rem 5%;
                font-size: 1.6rem;
              }

              .upload {
                background: #243352;
                color: #EBEDE8;
                width: 20rem;
                &:hover {
                  border: 1px solid #243352;
                  background: #EBEDE8;
                  color: #243352;
                }
              }

              .delete {
                border: 1px solid #8C4646;
                background: #8C4646;
                color: #EBEDE8;
                font-size: 1.4rem;
                margin: 2px auto;
              }
            }
        } //end content

    }//end profile_userCardMain

    .visits-chart {
      display: inline-block;
      width: 25%;
      min-width: 40rem;
      margin: -8rem 0 1rem 1rem;
      @media (max-width: 1100px) {
        display: none;
      }
    }

    .profile_friendsContainer {
      width: 25%;

      @media (max-width: 1100px) {
        width: 45%;
      }

      @media (max-width: 800px) {
        width: 90%;
        margin: 2rem;
      }

      //FriendsList component
      .profile_friendsListMain {
        border: 1px solid black;
        min-width: 12rem;
        background: #EBEDE8;
        padding: 20px 10%;
        line-height: 2.8;
        font-size: 2.2rem;
        text-align: center;

        .header {
          padding: 0.8rem 1rem 1rem;
          margin-bottom: 0.8rem;
          border-bottom: 1px solid lightgrey; 
        }

        .profile_friendsListContent {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 1.8rem;
          a {
            color: black;
            font-size: 1.8rem;
            padding: 1rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          img {
            min-width: 50px;
          }
          .profile_friendsListIcon {
            cursor: pointer;
            font-size: 2rem;
            color: #8C4646;
            margin: 0 2px;
          }
        }

      }
    }
  }
			//Usercard component
}//end container
