
$color-primary: #243352;

.landing_mainDiv {
    background: $color-primary;
    color: #EBEDE8;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
        .landing_header {
            display: flex;
            margin: 2rem 3rem 0rem 3rem;
            justify-content: space-between;

            @media(max-width: 500px) {
                display: flex;
                flex-direction: column-reverse;
            }
                .landing_title {
                    @media(max-width: 500px) {
                        align-self: center;
                        font-size: 2.4rem;
                    }
                }
                .login_loginButton {

                    @media(max-width: 500px) {
                        text-align: center;
                    }
                  button {
                    background: #EBEDE8;
                    color: $color-primary;
                    font-size: 1.4rem;
                    margin-right: 5%;
                    padding: 5%;
                  }
                }

         }
        svg {
          margin: -10% auto 5%;
          transform: scale(.75);

          @media(max-width: 800px) {
            margin: -40%;
            transform: scale(.40);
          }
        }

         #prefix__tail {
           animation: shake-it 2s infinite;
           transform-origin: 20% 45%;
         }
        .landing_mainContent {
           width: 40%;
           margin: -20% auto;
           font-weight: bold;
           font-size: 3.4rem;
           line-height: 3.5rem;
           text-align: center;

            @media(max-width: 1300px) {
                font-size: 2rem;
                line-height: 2.3rem;
            }
            @media(max-width: 950px) {
                font-size: 1.7rem;
                line-height: 2rem;
            }
            @media(max-width: 640px) {
                font-size: 1.3rem;
                line-height: 1.8rem;
                top: 55%;
            }
            @media(max-width: 500px) {
                font-size: 1.2rem;
                line-height: 1.4rem;
            }
        }
}

@keyframes shake-it {
  0% {transform: rotate(0deg);  }
  50% {transform: rotate(30deg);}
  100% {transform: rotate(0deg); }
}
