
// Import variables from central location
@import '../../sass/global_theme.scss';

.landing_mainDiv {
  background: $color-primary;
  color: $color-background-bright;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .landing_header {
    display: flex;
    margin: 2rem 3rem 0rem 3rem;
    justify-content: space-between;

    @media(max-width: 500px) {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }
    .landing_title {
      @media(max-width: 500px) {
        align-self: center;
        font-size: 2.4rem;
        margin: 5%;
      }
    }
    .login_loginButton {

      @media(max-width: 500px) {
        text-align: center;
        width: 50%;
      }

      button {
        background: $color-background-bright;
        color: $color-primary;
        font-size: 1.4rem;
        margin-right: 5%;
        padding: 5%;
      }
    }

 }

  .landing_mainContent {
    // border: 1px solid white;
     width: 80%;
     margin: 5% auto;
     font-weight: bold;
     font-size: 3rem;
     line-height: 3.5rem;
     text-align: center;
     display: flex;
     justify-content: space-around;
     align-items: center;

     @media (max-width: 1200px) {
       flex-direction: column;
       margin: 2% auto;
     }

     h2 {
       // border: 1px solid white;
       width: 40%;

       @media (max-width:1100px) {
         width: 70%;
         line-height: 1.5;
       }

       @media (max-width: 950px) {
         font-size: 2.8rem;
       }

       @media (max-width: 800px) {
         font-size: 2.4rem;
       }

       @media (max-width: 600px) {
         font-size: 2.2rem;
         width: 80%;
       }

       @media (max-width: 350px) {
         font-size: 2rem;
         width: 90%; 
       }
     }
      .landing-alpaca {
        width: 40%;
        // border: 1px solid white;

        @media (max-width: 1000px) {
          width: 50%;
        }

        @media (max-width: 800px) {
          width: 60%;
        }

        @media (max-width: 600px) {
          width: 70%;
        }

      }

       #prefix__tail {
         animation: shake-it 2s infinite;
         transform-origin: 20% 45%;
       }

       #prefix__lefteye {
         animation: left-blink 4s infinite;
         transform-origin: 100% 30%;
       }

       // #prefix__righteye{
       //   animation: right-blink 4s infinite;
       //   transform-origin: 30% 70%;
       // }

  }
}

@keyframes shake-it {
  0% {transform: rotate(0deg);  }
  50% {transform: rotate(10deg);}
  100% {transform: rotate(0deg); }
}

@keyframes left-blink {
  0% {transform: rotate(0deg); }
  12% { transform: rotate(-7.5deg); }
  25% { transform: rotate(0deg); }
}

@keyframes right-blink {
  0% {transform: rotate(0deg); }
  11% { transform: rotate(2.65deg); }
  25% { transform: rotate(0deg); }
}
