.Nav_dropDown {
    border: 1px solid black;
    border-radius: 40px;
    width: 10%;
    font-size: 3rem;
    padding: 0 1.1% 0% 2.6%;
        i {
            display: none;
        }
        .Nav_menu {
            width: 100%; 
        }
        .Nav_item {
            i {
                font-size: 1.6rem;
            }
            span {
                font-size: 1.6rem;
            }
        }
}